html {
color-scheme: dark;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1650px;
  padding: 10px 20px;
  overflow-x: hidden;
}
